
body {
  background-color: #008040;
  align-content: center;
}


header {
  width: 95%;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px 20px 0 0 ;
  height: 125px;
  padding-bottom: 50px;
  
}

.title-todo {
  text-align: center;
  padding-top: 1%;
  
}

#text_user-todo {
width: 83%;
height: 30%;
margin-left: 3%;
border-radius: 10px;
background-color:rgba(169, 169, 169, 0.288);
color: black;
margin-top: 0;
border: none;
padding: 0 0 0 10px;
box-shadow:  11px 11px 23px #d9d9d9,
             -11px -11px 23px #ffffff;

}

#btn_add-todo {
  background-color: #008040;
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 5px;
  margin-top: 0;
  margin-left: 1%;
border: none;
padding: 0;
cursor: pointer;
margin-top: 10px;
box-shadow:  11px 11px 23px #d9d9d9,
             -11px -11px 23px #ffffff;
}
#btn_add-todo:hover {
  transform: scale(1.1);
}
#btn_add-todo:active {
  transform: scale(1.2);
}

.inWork {

  background-color: white;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 25px;
  }

.inWork h2 {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.inwork-todo {
  margin: 0 auto;
  background-color: white;
  width: 95%;
  padding-bottom: 25px;
  padding-top: 25px;
}

.closeWork {
  background-color: white;
  width: 100%;
  padding-bottom: 25px;
  padding-top: 10px;
  border-radius: 0 0 0 20px;
}

.closeWork h2 {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.closework-todo {
  margin: 0 auto;
  background-color: white;
  width: 95%;
  padding-bottom: 25px;
  padding-top: 25px;
  

  
}

/* стили тасков */

.tasks-todo {
  
  max-width: 95%;

  position: relative;
  border-radius: 10px;

background: #ffffff;
box-shadow:  11px 11px 23px #d9d9d9,
             -11px -11px 23px #ffffff;
}
.tasks-todo:first-child {
  border: none;
}


.hight-block{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
  height: 10%;
  margin-top: 0;
  margin-bottom: 15px;
  align-items: center;
  width: 95%;
  margin-left: 10px;
}

.one-block{
  display: flex;
}

.two-block {
  text-align: right;
}

.btn-checkbox {
  border-color: #008040;
  margin-right: 1%;
  
}
.new-task{
  margin-left: 20px;
  width: 700px;
  width: 50%;
  
}
.text-task {
  font-size: 20px;
  width: 50vh;

}

.delete-task {
  display: none;
  background-color: white;
  border: none;
  color: red;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 5px;
}
.tasks-todo:hover .delete-task{
  display:inline;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.delete-task:active {
  font-size: 20px;
}

.date-creation{
  text-align: right;
}

/* когда закрыт   */

.checked{
  background-color: rgba(0, 128, 0, 0.144);
  text-decoration: line-through;
}

.one_todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  min-height: 705px;
  height: 90%;
  background-color: white;
  border-radius: 0 0 20px 20px;
  
}


.container {
  width: 20%;
  border-right: 1px;
  border-color: #008040;
  border-style: dotted;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  padding-left: 3%;
  border-radius: 0 0 0 20px;
}

.subcontainer{
  width: 80%;
  /* height: 80vh; */
  /* background-color: white; */
  border-radius: 0 0 0 20px;
}

.all_task {
  margin-bottom: 5px;
}

.all_task span {
  margin-left: 5px;
  font-style: bold;
}

.close_task {
  margin-bottom: 5px;
}

.close_task span{
  margin-left: 5px;
  font-style: bold;
}
.search__input {
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color:rgba(169, 169, 169, 0.288);
  color: black;
  margin-top: 10px;
  border: none;
  padding: 0 0 0 10px;
  box-shadow:  11px 11px 23px #d9d9d9,
  -11px -11px 23px #ffffff;
}

.sort_blok {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 93%;
}

#delete_all, #show-all  {
  background-color: #008040;
  width: 150px;
  font-size: 90%;
  height: 40px;
  color: white;
  border-radius: 10px;

  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 10px;
}


#delete_last, #show-completed {
  background-color: #008040;
  width: 150px;
  font-size: 90%;
  height: 40px;
  color: white;
  border-radius: 10px;

  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 10px;

}

#clean_search{
  background-color: #008040;
  width: 93%;
  font-size: 90%;
  height: 30px;
  color: white;
  border-radius: 10px;
  margin-right: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 5px;

}

#delete_all:hover , #delete_last:hover , #show-all:hover , #show-completed:hover, #clean_search:hover {
  transform: scale(1.1);
}
#delete_all:active, #delete_last:active, #show-all:active , #show-completed:active, #clean_search:active {
  transform: scale(1.2);
}


